name: compile cpp

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install requirements
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: gcc g++ cmake libhdf5-dev
          version: 1.0
      - name: Install libtorch
        run: |
          mkdir lib
          cd lib
          curl -o libtorch.zip https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-2.6.0%2Bcpu.zip
          unzip -q libtorch.zip
          cd ..
      - name: CMake
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_PREFIX_PATH="../lib/libtorch" \
                -DCMAKE_BUILD_TYPE=Release \
                -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
                ../cpp
          cd ..
      - name: Build
        run: |
          cd build
          make
