name: Python test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: 'pip'
      - name: Install requirements
        run: |
          pip install --upgrade pip
          pip install torch==2.6.* --index-url https://download.pytorch.org/whl/cpu
          pip install -r requirements.txt
      - name: Download data
        run: |
          mkdir data
          curl -o data/pions.h5 https://syncandshare.desy.de/index.php/s/492zF37HeR6FaCG/download/test-sf.h5
      - name: Test with Unittest
        run: python -m unittest discover --verbose  -s test -p '*_test.py'
        env:
          PYTHONPATH: src/
      - name: Fast development run
        run: python src/trainer.py --fast-dev-run --device cpu config/config.yaml
